@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--color-primary: #f0ead8;
	--color-primary2: #fefbef;
	--color-secondary: #d1d4b1;
	--color-secondary-rgb: 209, 212, 177;
	--color-secondary2: #4f5917;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: black;
}

html,
body {
	scroll-behavior: smooth;
}

::selection {
	background-color: var(--color-secondary2);
	color: var(--color-primary2);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.cta {
	background-color: var(--color-secondary);
	background: linear-gradient(
			rgb(var(--color-secondary-rgb), 0.7),
			rgb(var(--color-secondary-rgb), 0.7)
		),
		url("/banner.jpg");
	background-size: cover;
	background-position: center;
}
